@using Microsoft.AspNetCore.Http
@using  Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@{
    String Username = Convert.ToString(@HttpContextAccessor.HttpContext.Session.GetString("Username"));
    String RoleName = Convert.ToString(@HttpContextAccessor.HttpContext.Session.GetString("RoleName"));
    String ShowTest = Convert.ToString(@HttpContextAccessor.HttpContext.Session.GetString("ShowTest"));

}
<div class="row border-bottom white-bg">
    <nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">

        <a href="#" class="navbar-brand"
           style="margin-right: 0px;padding-left: 10px;padding-right: 10px;font-size:15px">In-Service Compliance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-reorder"></i>
        </button>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav mr-auto">
                @if (RoleName == "Admin" || RoleName == "Manager" || RoleName == "Teacher")
                {
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle"
                           data-toggle="dropdown">CareGiver</a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="@Url.Action("Import", "CareGiver")">Import</a></li>
                            <li><a href="@Url.Action("List", "CareGiver")">List</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle"
                           data-toggle="dropdown">Test Setup</a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="@Url.Action("Add", "Test")">Add Test</a></li>
                            <li><a href="@Url.Action("List", "Test")">Test List</a></li>
                            <li><a href="@Url.Action("Add", "TestSetup")">Add Question</a></li>
                            <li><a href="@Url.Action("List", "TestSetup")">Question List</a></li>
                            <li><a href="@Url.Action("Add", "Document")">Add Document</a></li>
                            <li><a href="@Url.Action("List", "Document")">Document List</a></li>
                            <li><a href="@Url.Action("PassingPercentage", "TestSetup")">Passing Percentage</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle"
                           data-toggle="dropdown">Season</a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="@Url.Action("Add", "Season")">Add</a></li>
                            <li><a href="@Url.Action("List", "Season")">List</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle"
                           data-toggle="dropdown">User</a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="@Url.Action("Add", "User")">Add</a></li>
                            <li><a href="@Url.Action("List", "User")">List</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("List", "Role")">Role</a></li>
                    <li><a href="@Url.Action("Video", "Test")">Videos</a></li>

                }
                else
                {
                    @if (ShowTest == "True")
                    {
                        <li><a href="@Url.Action("Exam", "Attendant")">Test</a></li>
                    }
                    <li><a href="@Url.Action("Videos", "Test")">Videos</a></li>
                }
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm welcome-message" style="color:#337ab7">Welcome @Username</span>
                </li>
                <li>
                    <a class="dropdown-item" href="@Url.Action("Login", "Account")">Sign out</a>
                </li>
            </ul>
        </div>
    </nav>
</div>