@model EmployeeTest.Models.UserViewModel

@{
    ViewData["Title"] = "Edit User";
}
@using Microsoft.Extensions.Options;
@inject IOptions<Appsettings> Settings

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3>@ViewData["Title"]</h3>
                </div>
                <div class="ibox-content">
                    <form method="post" asp-action="Edit">
                        @Html.HiddenFor(m => m.UserId)



                        <div class="row form-group">
                            <div class="col-md-2">
                                <label asp-for="Email" class="col-form-label"></label>
                            </div>
                            <div class="col-md-4">
                                <input asp-for="Email" class="form-control" placeholder="Email" maxlength="50" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <label asp-for="RoleId" class="col-form-label"></label>
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.RoleList.Select(x => new { Value = x.RoleId, Text = x.Rolename }), "Value", "Text"), "Select Role", new { @class = "form-control", @placeholder = "Select Role" })
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>


                        <div id="divCareGiver" style="display:none">
                            <div class="row form-group ">
                                <div class="col-md-2">
                                    <label asp-for="FirstName" class="col-form-label"></label>
                                </div>
                                <div class="col-md-4">
                                    <input asp-for="FirstName" class="form-control" placeholder="First Name" maxlength="100" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-md-2">
                                    <label asp-for="MiddleName" class="col-form-label"></label>
                                </div>
                                <div class="col-md-4">
                                    <input asp-for="MiddleName" class="form-control" placeholder="Middle Name" maxlength="100" />
                                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="row form-group ">
                                <div class="col-md-2">
                                    <label asp-for="LastName" class="col-form-label"></label>
                                </div>
                                <div class="col-md-4">
                                    <input asp-for="LastName" class="form-control" placeholder="Last Name" maxlength="100" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="col-md-2">
                                    <label asp-for="EmployeeNo" class="col-form-label"></label>
                                </div>
                                <div class="col-md-4">
                                    <input asp-for="EmployeeNo" class="form-control" placeholder="Employee No" maxlength="100" />
                                    <span asp-validation-for="EmployeeNo" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="row form-group ">
                                <div class="col-md-2">
                                    <label class="col-form-label">Group </label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.HrGroupId, new SelectList(Model.HrGroupList.Select(x => new { Value = x.Id, Text = x.Name }), "Value", "Text"), "Select Group", new { @class = "form-control", @placeholder = "Select Group" })
                                    <span asp-validation-for="HrGroupId" class="text-danger"></span>
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-2">
                                <label asp-for="Password" class="col-form-label"></label>
                            </div>
                            <div class="col-md-4">
                                <input asp-for="Password" type="password" class="form-control" placeholder="Password" maxlength="15" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <label asp-for="ConfirmPassword" class="col-form-label"></label>
                            </div>
                            <div class="col-md-4">
                                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" maxlength="15" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>


                        @if (ViewBag.SuccessMessage != null)
                        {
                            <p class="text-primary">@ViewBag.SuccessMessage</p>
                        }
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <p class="text-danger">@ViewBag.ErrorMessage</p>
                        }

                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white btn-sm" asp-action="List">Cancel</a>
                                <button class="btn btn-primary btn-sm" onclick="return checkValues()"  type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />

}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
       $(document).ready(function () {
            $(".topNavBar li").removeClass("active");
            $("#liDataEntry").addClass("active");
               var SuccessMessage = '@ViewBag.SuccessMessage';
        var ErrorMessage = '@ViewBag.ErrorMessage';
        if (SuccessMessage) {
            swal(SuccessMessage, "", "success");
             setTimeout(function () { window.location.href = "@Settings.Value.WebBaseURL/User/List"; }, 750);
        }
          if (ErrorMessage) {
            swal(ErrorMessage, "", "error");
           }

           if ($("#RoleId").val() == "1") {
                  $("#divCareGiver").show();
                }
                else {
                  $("#FirstName").val(" ");
               $("#MiddleName").val(" ");
               $("#LastName").val(" ");
               $("#EmployeeNo").val(" ");
               $("#HrGroupId").val("1");
                  $("#divCareGiver").hide();
                }

            $("#RoleId").on("change", function () {
            if ($("#RoleId").val() == "1") {
                  $("#FirstName").val("");
                  $("#MiddleName").val("");
                  $("#EmployeeNo").val("");
                  $("#divCareGiver").show();
                }
                else {
                  $("#FirstName").val(" ");
            $("#MiddleName").val(" ");
            $("#EmployeeNo").val(" ");
                    $("#divCareGiver").hide();
                }
            });


       });

       
         function checkValues() {
               if ($("#RoleId").val() != "1") {
                   $("#FirstName").val("a");
                   $("#MiddleName").val("a");
                   $("#EmployeeNo").val("a");
                   $("#LastName").val("a");
                   $("#HrGroupId").val("1");
                  
                }

         }

    </script>
}